<h1 [class.x]="bool">Sunny</h1>
<p>{{ message }}</p>
<app-navbar></app-navbar>
<app-post
  [fromParent]="parentMessage"
  (messageEvent)="receiveMessage($event)"
></app-post>
<p>{{ fromChildOutOut }}</p>

<h1 [style.color]="bool ? 'red' : 'green'">Style Binding</h1>

<p>{{ messages }}</p>
<!--<img [src]="imgUrl" alt="">-->
<!--image urls-->
<!--Even Binding-->
<button (click)="buttonClick()">Click Me!</button>
<!--EvenFiltering-->
<input type="text" (keyup.enter)="onKey()" />
<input type="text" (keyup.enter)="onKeyUp(username.value)" #username />
<input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyUps()" />
<!--Tsk-->
<div class="form-area">
  <br /><br />
  <h1>Post Form</h1>
  <br /><br />
  <input type="text" placeholder="Post Title" [(ngModel)]="posttitle" />
  <br /><br />
  <textarea
    cols="30"
    rows="10"
    placeholder="post Details"
    [(ngModel)]="postDetails"
  ></textarea>
  <br /><br />
  <input type="text" placeholder="Post Image" [(ngModel)]="imageUrl" />
  <br /><br />
  <input type="text" placeholder="Post Url" [(ngModel)]="postUrl" />
  <br /><br />
  <input type="checkbox" [(ngModel)]="addBackground" /> Add Background!
  <br /><br />
</div>

<div class="preview-area">
  <h1>
    <span [class.add-background]="addBackground">{{ posttitle }}</span>
  </h1>
  <p>{{ postDetails }}</p>
  <img [src]="imageUrl" />
  <a
    [href]="postUrl"
    target="_blank"
    [style.display]="postUrl ? 'Block' : 'None'"
    >More Details!</a
  >
</div>

<!--ngFor-->
<ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>

<p>Fetching objectArray</p>
<ul>
  <li *ngFor="let post of objArray">{{ post | json }}</li>
</ul>

<!--ngSwitch-->
<div>
  <button (click)="onClick('Step 1')">Step 1</button>
  <button (click)="onClick('Step 2')">Step 2</button>
  <button (click)="onClick('Step 3')">Step 3</button>
</div>
<br />
<div [ngSwitch]="stepForm">
  <div *ngSwitchCase="'Step 1'">Step 1 Form</div>
  <div *ngSwitchCase="'Step 2'">Step 2 Form></div>
  <div *ngSwitchCase="'Step 3'">Step 3 Form></div>
</div>

<p>NgStyle Directives</p>

<h1
  [style.color]="isActive ? 'red' : 'green'"
  [style.textTransform]="isActive ? 'uppercase' : 'lowercase'"
>
  Ahmed Zubayer Sunny!
</h1>

<h1
  [style]="{
    color: isActive ? 'red' : 'yellow',
    textTransform: isActive ? 'uppercase' : 'lowercase'
  }"
>
  Angular CLI
</h1>

<!--TASK-->
<div class="form-area">
  <h3>User Details</h3>
  <input type="text" placeholder="Name" [(ngModel)]="name" />
  <br /><br />
  <input type="email" placeholder="E-Mail" [(ngModel)]="email" />
  <br /><br />
  <textarea
    cols="30"
    rows="10"
    placeholder="Address"
    [(ngModel)]="address"
  ></textarea>
  <br /><br />
  <button (click)="onClickX()">Save Data</button>
  <br /><br />
</div>
<div *ngIf="userArray.length > 0; else noData">
  <div class="table-area">
    <table [width]="500">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
      </thead>

      <tr *ngFor="let user of userArray; let index = index">
        <td>{{ index }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td><button (click)="onDelete(index)">Delete</button></td>
      </tr>
    </table>
  </div>
</div>

<ng-template #noData>
  <h4>No Data Show</h4>
</ng-template>

<h3>{{ userdetails.city | appendCLI }}</h3>

<p>{{ dummyText | summary : 10 }}</p>
<!--FORM-->
<!--B00tStrap-->
<div class="container mt-5">
  <div class="form-area">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          placeholder="Full Name"
          class="form-control"
          name="fullName"
          ngModel
          #fullName="ngModel"
          (change)="(getValue)"
          required
          [ngClass]="{ 'is-invalid': fullName.touched && fullName.invalid }"
        />
        <div
          class="alert alert-danger"
          *ngIf="fullName.touched && fullName.invalid"
        >
          Full Name is Required!
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          placeholder="E-Mail"
          class="form-control"
          name="Email"
          ngModel
        />
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea
          cols="30"
          rows="10"
          placeholder="Address"
          class="form-control"
          name="Address"
          ngModel
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        SUBMIT
      </button>
    </form>
  </div>
</div>
<br /><br />
<br /><br />
<br /><br />

<!--Reactive Form-->
<h1 class="text-center">Reactive Form</h1>
<form [formGroup]="form">
  <div class="form-group">
    <label>First Name</label>
    <input
      type="text"
      placeholder="Full Name"
      class="form-control"
      name="fullName"
      formControlName="fullName"
    />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      type="email"
      placeholder="E-Mail"
      class="form-control"
      name="Email"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <label>Address</label>
    <textarea
      cols="30"
      rows="10"
      placeholder="Address"
      class="form-control"
      name="Address"
      formControlName="address"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">SUBMIT</button>
</form>
